<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div>ID:</div>
<p style="color:rebeccapurple" th:text="${user.id}"></p>

<div>username:</div>
<p style="color:rebeccapurple" th:text="${user.username}"></p>

<div>password:</div>
<p style="color:rebeccapurple" th:text="${user.password}"></p>

<div>email:</div>
<p style="color:rebeccapurple" th:text="${user.email}"></p>


<a href="/logout">Logout</a>
</body>
</html>