<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
</head>
<body>

<nav style="color: white" class="navbar navbar-dark bg-dark">
    <span id="rls"></span>
    <form class="form-inline">
        <a style="color: gray" class="navbar-brand" href='/logout'>logout</a>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2" style="padding-left: 0px; padding-right: 0px">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
                <ul id="adminTumbler" class="nav nav-pills flex-column">
<!--                    <li id="admin" class="nav-item">-->
<!--                        <a id="adminClick" class="nav-link active" href="/admin/users">Admin</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/user">User</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>

        <div class="col-md-10">

            <h1>
                <strong>Admin panel</strong>
            </h1>

            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#usersTable" role="tab" data-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newUser" role="tab" data-toggle="tab">New user</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="usersTable">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h4><strong>All users</strong></h4>
                            </div>
                            <div class="panel-body">


                                <hr style="margin-top: 0; margin-bottom: 0"/>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="newUser">

                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <strong>Add new user</strong>
                            </div>
                            <div class="panel-body">
                                <form id="addNewUser" role="form" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-4 mx-auto text-center">
                                            <div class="form-group">
                                                <label for="usernameNew" class="control-label">Username</label>
                                                <input type="text" class="form-control" id="usernameNew"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastnameNew" class="control-label">Lastname</label>
                                                <input type="text" class="form-control" id="lastnameNew"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="emailNew" class="control-label">email</label>
                                                <input type="text" class="form-control" id="emailNew"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordNew" class="control-label">Password</label>
                                                <input type="password" class="form-control" id="passwordNew" autocomplete="on">
                                            </div>
                                            <div class="form-group">
                                                <label for="rolesNew" class="control-label">Roles</label>
                                                <select id="rolesNew" class="form-control form-control-static" multiple="multiple"
                                                        size="2">
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-lg">Add new user</button>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal"
     tabindex="-1" class="modal">
    <form id="formEdit">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body text-center">

                    <div class="col-md-8 mx-auto">

                        <div class="form-group">
                            <label for="idEdit"
                                   class="control-label">ID</label>
                            <input type="text" class="form-control"
                                   disabled="true"
                                   id="idEdit"/>
                        </div>
                        <div class="form-group">
                            <label for="usernameEdit" class="control-label">Username</label>
                            <input type="text" class="form-control"
                                   id="usernameEdit"/>
                        </div>
                        <div class="form-group">
                            <label for="lastnameEdit"
                                   class="control-label">Lastname</label>
                            <input type="text" class="form-control"
                                   id="lastnameEdit"/>
                        </div>
                        <div class="form-group">
                            <label for="emailEdit" class="control-label">Email</label>
                            <input type="text" class="form-control"
                                   id="emailEdit"/>
                        </div>
                        <div class="form-group">
                            <label for="passwordEdit" class="control-label">Password</label>
                            <input type="password" class="form-control"
                                   id="passwordEdit">
                        </div>
                        <div class="form-group">
                            <label for="rolesEdit">Role</label>
                            <select class="form-control form-control-static"
                                    size="2" multiple name="roles"
                                    id="rolesEdit">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="editModalClose" class="btn btn-secondary"
                            style="background-color: gray; color: white"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Edit
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>




<div aria-hidden="true" aria-labelledby="editModalLabel" id="deleteModal" class="modal">
    <form id="deleteForm"  role="form" class="form-horizontal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="form-group">
                                <label for="idDelete"
                                       class="control-label">ID</label>
                                <input type="text" class="form-control"
                                       disabled="true"
                                       id="idDelete"/>
                            </div>
                            <div class="form-group">
                                <label for="usernameDel" class="control-label">Username</label>
                                <input type="text" class="form-control"
                                       disabled="true"
                                       id="usernameDel"/>
                            </div>
                            <div class="form-group">
                                <label for="lastnameDel"
                                       class="control-label">lastname</label>
                                <input type="text" class="form-control"
                                       disabled="true"
                                       id="lastnameDel"/>
                            </div>
                            <div class="form-group">
                                <label for="emailDelete" class="control-label">Email</label>
                                <input type="text" class="form-control"
                                       disabled="true"
                                       id="emailDelete"/>
                            </div>
                            <div class="form-group">
                                <label for="rolesDelete">Role</label>
                                <select class="form-control form-control-static"
                                        disabled="true" size="3"
                                        multiple name="roles"
                                        id="rolesDelete">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteModalClose" class="btn btn-secondary"
                            style="background-color: gray; color: white"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>




<script type="text/javascript" src="/allUsers.js"></script>
<script type="text/javascript" src="/utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>