<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div>ID:</div>
<p style="color:rebeccapurple" th:text="${user.id}"></p>

<div>username:</div>
<p style="color:rebeccapurple" th:text="${user.username}"></p>

<div>username:</div>
<p style="color:rebeccapurple" th:text="${user.lastname}"></p>

<div>email:</div>
<p style="color:rebeccapurple" th:text="${user.email}"></p>

<div>roles:</div>
<ul th:each="role:${user.roles}">
    <li th:text="${role.getName()}"></li>
</ul>

<div>
    <input style="color:black;" type="button" value="Logout" onclick="window.location.href='/logout'">
</div>
</body>
</html>